.skills-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;

    list-style: none;

    .skill-wrapper {
        display: flex;
        align-items: center;
        column-gap: 1rem;
    }
    .divider {
        width: 1px;
        height: 20px;

        background: rgba(45, 46, 50, .2);
    }
}
