.h1 {
    font-family: 'Montserrat-Bold';
    font-size: 4rem;
    font-weight: 700;
    font-style: normal;
    line-height: 60px;
    letter-spacing: 3.84px;

    color: var(--color-font-main);
}
.h2 {
    font-family: 'Montserrat-Bold';
    font-size: 1.5rem;
    font-weight: 700;
    font-style: normal;
    line-height: normal;

    color: var(--color-font-main);
}
.h3 {
    font-family: 'Montserrat-Bold';
    font-size: 1.125rem;
    font-weight: 700;
    font-style: normal;
    line-height: normal;

    color: var(--color-font-main);
}
.h4 {
    font-family: 'Montserrat-Bold';
    font-size: 0.875rem;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.77px;

    color: var(--color-font-main);
}
.body {
    font-family: 'Mulish';
    font-size: 1rem;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.72px;

    color: var(--color-font-body);
}
.button {
    font-family: 'Montserrat-Medium';
    font-size: 0.875rem;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.77px;

    color: var(--color-font-main);
}
.caption {
    font-family: 'Montserrat-Bold';
    font-size: 1.125rem;
    font-weight: 700;
    font-style: normal;
    line-height: normal;

    text-transform: uppercase;
    color: var(--color-main);
}
.link {
    font-family: 'Montserrat-Bold';
    font-size: 1rem;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
}
