.project-card {
    display: flex;
    align-items: center;

    height: 24rem;

    background: var(--color-card-bg);
    padding: $spaces;
    box-shadow: $box-shadow-main;
    border-radius: $border-radius;

    @media (max-width: $lg) {
        flex-direction: column;
        height: auto;
        max-width: 35rem;
        padding: calc($spaces / 2);
    }
}
