.anchor {
    color: var(--color-font-main);
    transition: $transition-sm;

    &:hover,
    &.link-active {
        color: var(--color-main);
    }
}

.perspective {
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
}



// Transitions

.drawer-transition {
    &-enter-active,
    &-leave-active {
        transition: all $transition;
    }

    &-enter-from,
    &-leave-to {
        filter: blur(12px);
        transform: translateX(100%);
    }
}
.mobile-menu-btn-transition {
    &-enter-active,
    &-leave-active {
        transition: all $transition-sm;
    }

    &-enter-from,
    &-leave-to {
        opacity: 0;
    }

    &-enter-from {
        transform: translateX(-25%) scale(.9);
    }
    &-leave-to {
        transform: translateX(25%) scale(.9);
    }
}
.mobile-menu-close-btn-transition {
    &-enter-active,
    &-leave-active {
        transition: all $transition-sm;
    }

    &-enter-from,
    &-leave-to {
        opacity: 0;
    }

    &-enter-from {
        transform: translateX(25%) scale(.9);
    }
    &-leave-to {
        transform: translateX(-25%) scale(.9);
    }
}



// Ellipses

.ellipse1 {
    position: absolute;
    top: 15px;
    left: -215px;

    width: 689.42px;
    height: 498.858px;
    z-index: -3;

    filter: blur(242px);
}
.ellipse2 {
    position: absolute;
    top: -203px;
    right: -450px;

    width: 948.439px;
    height: 548.983px;
    z-index: -3;

    filter: blur(242px);
}
.ellipse3 {
    position: absolute;
    top: -233px;
    left: -280px;

    width: 689.42px;
    height: 498.858px;
    z-index: -3;

    filter: blur(227px);
}
.ellipse4 {
    position: absolute;
    top: 476px;
    right: -241px;

    width: 689.42px;
    height: 498.858px;
    z-index: -3;

    filter: blur(227px);
}
.ellipse5 {
    position: absolute;
    bottom: -87px;
    left: -455px;

    width: 948.439px;
    height: 548.983px;
    z-index: -3;

    filter: blur(227px);
}
