*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-main: #9A66E2;

    --color-font-main: #2D2E32;
    --color-font-body: #767676;

    --color-body-bg: #EAEAEA;
    --color-main-bg: rgba(231, 231, 231, .5);
    --color-card-bg: rgba(248, 248, 248, .4);
    --color-section-bg: rgba(249, 249, 249, .2);

    --header-height: 4rem;
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: local('Montserrat-Medium'), url('@/assets/fonts/Montserrat-Medium.ttf') format('opentype');
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: local('Montserrat-Bold'), url('@/assets/fonts/Montserrat-Bold.ttf') format('opentype');
}
@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: local('Montserrat-ExtraBold'), url('@/assets/fonts/Montserrat-ExtraBold.ttf') format('opentype');
}
@font-face {
    font-family: 'Montserrat-Regular';
    src: local('Montserrat-Regular'), url('@/assets/fonts/Montserrat-Regular.ttf') format('opentype');
}
@font-face {
    font-family: 'Montserrat-SemiBold';
    src: local('Montserrat-SemiBold'), url('@/assets/fonts/Montserrat-SemiBold.ttf') format('opentype');
}
@font-face {
    font-family: 'Mulish';
    src: local('Mulish-VariableFont_wght'), url('@/assets/fonts/Mulish-VariableFont_wght.ttf') format('opentype');
}

body {
    background-color: var(--color-body-bg);
    overflow-x: hidden;

    &.prevent-scroll {
        overflow: hidden;
    }
}

main {
    container-type: inline-size;
}

a {
    text-decoration: none;
    @extend .anchor !optional;

    & > * {
        @extend .anchor !optional;
    }
}

button,
input,
textarea {
    background: none;
    border: none;
    outline: none;
}
