.about-wrapper {
    padding-block: 2rem;
    background: var(--color-section-bg);

    & > .container {
        display: flex;
        justify-content: space-between;
        column-gap: 8rem;

        @media (max-width: $lg) {
            flex-direction: column;
            align-items: center;
            row-gap: 1.5rem;
        }

        .about-content {
            display: flex;
            flex-direction: column;
            row-gap: 1rem;

            max-width: 35rem;
            margin-top: $section-spaces;

            @media (max-width: $lg) {
                margin-top: 2rem;
                text-align: center;
            }

            .about-content__title {
                max-width: 90%;
            }
            .icon-ukraine {
                font-size: 2rem;

                @media (max-width: $lg) {
                    font-size: 1.5rem;
                }
            }
        }
        & > .about-img {
            max-width: 100%;
            height: 100%;
            aspect-ratio: 1;
            border-radius: $border-radius-sm;
        }
    }
}
